.news{
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    word-break: break-word; 
    max-height: 300px; 
    font-size:10px;
    position: relative;
    z-index: 10;
}
.container{
    max-width: 235px;
    
}
.title{
    font-size:15px;
}
.link{
    font-size:3px;
}